# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

gradle
build
.gradle

.vs

# other
#eclipse
#run
#runs
#run-data

repo
.gradle/9.2.0/executionHistory/executionHistory.bin
.gradle/9.2.0/executionHistory/executionHistory.lock
.gradle/9.2.0/fileHashes/fileHashes.bin
.gradle/9.2.0/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
